@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Poppins', sans-serif;
  
}

.bg-grad {
  @apply bg-[#0061ff]
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.testimonial {
  background: linear-gradient(90deg, #44ff9a -0.55%, #44b0ff 22.86%, #8b44ff 48.36%, #ff6644 73.33%, #ebff70 99.34%)
}
.footer-gg {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }

} */
